body{background:gray; padding:0; margin:0;}

#header {color:blue; width:100%; background:orange; height:100px; border-bottom:5px solid blue;}

#sidebar{width:250px; float:left; background:orange; border-right:5px solid blue; height:600px;}

#sidebar h2 {text-align:center; font-size:2em; color:brown;}

#header h1{color:black; font-size:3em; font-family:comic sans MS; text-align:center; padding-top:20px;}


#welcome {margin:10px; padding:10px; text-align:center; color:white;}